In [122]:
import pandas as pd
import numpy as np

In [138]:
data = pd.read_csv('./offical_data.csv')

In [139]:
data.shape

(16344, 16)

In [140]:
data.info()
data = data.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16344 entries, 0 to 16343
Data columns (total 16 columns):
address              16344 non-null object
balcony_direction    9184 non-null object
bedroom              15234 non-null object
direction            8161 non-null object
furniture            9370 non-null object
investor             0 non-null float64
law_doc              5381 non-null object
loc_link             16344 non-null object
location             16344 non-null object
name                 16344 non-null object
price                16344 non-null object
project              16344 non-null object
square               15840 non-null object
time                 16344 non-null object
toilet               12101 non-null object
types                16344 non-null object
dtypes: float64(1), object(15)
memory usage: 2.0+ MB

In [141]:
data.head()

,address,balcony_direction,bedroom,direction,furniture,investor,law_doc,loc_link,location,name,price,project,square,time,toilet,types
0,"Dự án D’. Le Roi Soleil - Quảng An, Đường Xuân...",NaN,3 PN,NaN,Nội thất cơ bản.,NaN,NaN,https://www.google.com/maps/embed/v1/place?q=2...,"21.0648994445801,105.827049255371",TÔI CẦN BÁN GẤP CĂN HỘ 3PN 111M2 VÀ 146M2 QUẢ...,6.6 tỷ,D’. Le Roi Soleil - Quảng An,111 m²,09/10/2020,NaN,Tin Vip 1
1,"Green Park Trần Thủ Độ, số 1, Đường Trần Thủ Đ...",Đông-Nam,3 PN,NaN,NaN,NaN,NaN,https://www.google.com/maps/embed/v1/place?q=2...,"20.9605541229248,105.845962524414",BÁN GẤP CHUNG CƯ GREEN PARK QUẬN HOÀNG MAI 3P...,1.9 tỷ,Green Park Trần Thủ Độ,85 m²,06/10/2020,NaN,Tin Vip 1
2,"Dự án THT New City, Hoài Đức, Hà Nội",Đông-Nam,2 PN,Tây-Bắc,"Nội thất cơ bản : sàn ghạch ceramic, tường trá...",NaN,sổ hồng lâu dài,https://www.google.com/maps/embed/v1/place?q=2...,"21.06287956237793,105.72223663330078",CHỈ 300TR ĐÃ CÓ CĂN HỘ 70M2 HTLS 5% / NĂM . N...,Thỏa thuận,THT New City,70 m²,09/10/2020,2 (phòng),Tin Vip 1
3,"Dự án Sunshine City, Đường Phạm Văn Đồng, Phườ...",NaN,3 PN,NaN,Full nội thất liền tường cao cấp: - Sàn gỗ trầ...,NaN,Sổ hồng,https://www.google.com/maps/embed/v1/place?q=2...,"21.0919170379639,105.785003662109",SUNSHINE CITY CHÍNH SÁCH BÁN HÀNG THÁNG 10 CH...,4 tỷ,Sunshine City,116.7 m²,05/10/2020,2 (phòng),Tin Vip đặc biệt
4,"Imperia Sky Garden, 423, Đường Minh Khai, Phườ...",NaN,2 PN,NaN,NaN,NaN,NaN,https://www.google.com/maps/embed/v1/place?q=2...,"20.9984378814697,105.866737365723",BÁN CẮT LỖ CĂN HỘ ĐÃ BÀN GIAO 423 MINH KHAI I...,2.6 tỷ,Imperia Sky Garden,80 m²,09/10/2020,2 (phòng),Tin Vip 1

In [142]:
data = data[['time', 'address', 'direction', 'square', 'types', 'toilet', 'bedroom','balcony_direction', 'project' ,'location', 'price' ]].copy()

In [143]:
data.head()

,time,address,direction,square,types,toilet,bedroom,balcony_direction,project,location,price
0,09/10/2020,"Dự án D’. Le Roi Soleil - Quảng An, Đường Xuân...",NaN,111 m²,Tin Vip 1,NaN,3 PN,NaN,D’. Le Roi Soleil - Quảng An,"21.0648994445801,105.827049255371",6.6 tỷ
1,06/10/2020,"Green Park Trần Thủ Độ, số 1, Đường Trần Thủ Đ...",NaN,85 m²,Tin Vip 1,NaN,3 PN,Đông-Nam,Green Park Trần Thủ Độ,"20.9605541229248,105.845962524414",1.9 tỷ
2,09/10/2020,"Dự án THT New City, Hoài Đức, Hà Nội",Tây-Bắc,70 m²,Tin Vip 1,2 (phòng),2 PN,Đông-Nam,THT New City,"21.06287956237793,105.72223663330078",Thỏa thuận
3,05/10/2020,"Dự án Sunshine City, Đường Phạm Văn Đồng, Phườ...",NaN,116.7 m²,Tin Vip đặc biệt,2 (phòng),3 PN,NaN,Sunshine City,"21.0919170379639,105.785003662109",4 tỷ
4,09/10/2020,"Imperia Sky Garden, 423, Đường Minh Khai, Phườ...",NaN,80 m²,Tin Vip 1,2 (phòng),2 PN,NaN,Imperia Sky Garden,"20.9984378814697,105.866737365723",2.6 tỷ

In [144]:
data['ward'] = data['address'].apply(lambda x : x.split(', ')[-3: -2]).astype('str')
data['ward'] = data['ward'].apply(lambda x : x.replace("['", ""))
data['ward'] = data['ward'].apply(lambda x : x.replace("']", ""))

In [145]:
data['district'] = data['address'].apply(lambda x : x.split(', ')[-2: -1 ]).astype('str')
data['district'] = data['district'].apply(lambda x : x.replace("['", ""))
data['district'] = data['district'].apply(lambda x : x.replace("']", ""))

In [146]:
data['district'].value_counts()

Nam Từ Liêm            2191
Thanh Xuân             2009
Hà Đông                1926
Cầu Giấy               1744
Bắc Từ Liêm            1648
Hoàng Mai              1503
Tây Hồ                 1185
Hai Bà Trưng           1074
Long Biên              1053
Gia Lâm                 412
Thanh Trì               409
Đống Đa                 350
Ba Đình                 336
Hoài Đức                298
Đông Anh                115
Đan Phượng               24
Chương Mỹ                18
Thạch Thất                9
Hoàn Kiếm                 5
Q. Hà Đông                1
Huyện Thanh Trì           1
Dự án CT3 Nam Cường       1
Mê Linh                   1
Hà Nội                    1
huyện Thanh Trì           1
Name: district, dtype: int64

In [147]:
data.drop([301, 5900, 11586, 9751, 11014, 11733], inplace = True)

In [148]:
data = data[~data['price'].isin(['Thỏa thuận'])]

In [149]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14207 entries, 0 to 16343
Data columns (total 13 columns):
time                 14207 non-null object
address              14207 non-null object
direction            7402 non-null object
square               13864 non-null object
types                14207 non-null object
toilet               10782 non-null object
bedroom              13410 non-null object
balcony_direction    8250 non-null object
project              14207 non-null object
location             14207 non-null object
price                14207 non-null object
ward                 14207 non-null object
district             14207 non-null object
dtypes: object(13)
memory usage: 1.5+ MB

In [150]:
data = data.dropna(axis = 0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6126 entries, 5 to 16334
Data columns (total 13 columns):
time                 6126 non-null object
address              6126 non-null object
direction            6126 non-null object
square               6126 non-null object
types                6126 non-null object
toilet               6126 non-null object
bedroom              6126 non-null object
balcony_direction    6126 non-null object
project              6126 non-null object
location             6126 non-null object
price                6126 non-null object
ward                 6126 non-null object
district             6126 non-null object
dtypes: object(13)
memory usage: 670.0+ KB

In [151]:
data['square'] = data['square'].apply(lambda x : x.replace(' m²', ''))
data['toilet'] = data['toilet'].apply(lambda x : x[0])
data['bedroom'] = data['bedroom'].apply(lambda x : x.replace('PN', ''))
data['lat'] = data['location'].apply(lambda x : x.split(',')[0])
data['long'] = data['location'].apply(lambda x : x.split(',')[1])

In [152]:
del data['address']
del data['location']
data.head()

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long
5,09/10/2020,Tây-Nam,36,Tin Vip 1,1,1,Đông-Bắc,Vinhomes West Point,1.55 tỷ,Dự án Vinhomes West Point,Nam Từ Liêm,21.0197982788086,105.780708312988
6,03/10/2020,Tây-Bắc,153,Tin Vip 1,2,4,Đông-Nam,Khu đô thị Nam Thăng Long - Ciputra,3.8 tỷ,Phường Phú Thượng,Tây Hồ,21.072135925293,105.810997009277
7,03/10/2020,Nam,103,Tin Vip 1,2,3,Tây-Bắc,Times City,4.1 tỷ,Phường Vĩnh Tuy,Hai Bà Trưng,20.9947910308838,105.86784362793
10,03/10/2020,Nam,85,Tin Vip 1,2,2,Nam,Mipec Rubik 360,39 triệu/m²,Phường Dịch Vọng Hậu,Cầu Giấy,21.0371532440186,105.786338806152
14,09/10/2020,Đông-Nam,65,Tin Vip 3,2,2,Tây-Bắc,Vinhomes West Point,3.05 tỷ,Phường Mỹ Đình 1,Nam Từ Liêm,21.0197982788086,105.780708312988

In [153]:
def findx(x):
    if x.find(' triệu/m²') >= 0:
        return x.replace(' triệu/m²', '')
    else:
        return '0'
def findm(x):
    if x.find(' triệu') >= 0:
        return x.replace(' triệu', '')
    else:
        return '0'
def remove_ch_1(x):
    if x.find( ' triệu/m²') >= 0:
        return '0'
    if x.find( ' tỷ') >= 0:
        return x.split()[0]
    else:
        return x
def remove_ch_2(x):
    if x.find( ' triệu') >= 0:
        return '0'
    else :
        return x;

In [154]:
data['temp'] = data['price'].apply(lambda x : findx(x))
data['price'] = data['price'].apply(lambda x : remove_ch_1(x))
data['milion'] = data['price'].apply(lambda x : findm(x))
data['price'] = data['price'].apply(lambda x : remove_ch_2(x))

In [155]:
convert_col = ['square', 'toilet', 'bedroom', 'price', 'temp', 'milion', 'lat', 'long']
for i in convert_col:
    data[i]  = data[i].astype('float32')

In [156]:
data['price'] = data['price'] * 1000 + data['square']*data['temp'] + data['milion']

In [164]:
data.loc[1709, 'price'] *= 1000
data.loc[5444, 'price'] *= 1000
data.drop(data[data['price'] < 50].index, inplace = True)
data[data['price'] < 50]

Empty DataFrame
Columns: [time, direction, square, types, toilet, bedroom, balcony_direction, project, price, ward, district, lat, long, temp, milion]
Index: []

In [165]:
del data['temp']
del data['milion']

In [166]:
data.head()

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long
5,09/10/2020,Tây-Nam,36.0,Tin Vip 1,1.0,1.0,Đông-Bắc,Vinhomes West Point,1550.0,Dự án Vinhomes West Point,Nam Từ Liêm,21.019798,105.780708
6,03/10/2020,Tây-Bắc,153.0,Tin Vip 1,2.0,4.0,Đông-Nam,Khu đô thị Nam Thăng Long - Ciputra,3800.0,Phường Phú Thượng,Tây Hồ,21.072136,105.810997
7,03/10/2020,Nam,103.0,Tin Vip 1,2.0,3.0,Tây-Bắc,Times City,4100.0,Phường Vĩnh Tuy,Hai Bà Trưng,20.994791,105.867844
10,03/10/2020,Nam,85.0,Tin Vip 1,2.0,2.0,Nam,Mipec Rubik 360,3315.0,Phường Dịch Vọng Hậu,Cầu Giấy,21.037153,105.786339
14,09/10/2020,Đông-Nam,65.0,Tin Vip 3,2.0,2.0,Tây-Bắc,Vinhomes West Point,3050.0,Phường Mỹ Đình 1,Nam Từ Liêm,21.019798,105.780708

In [167]:
data['center_dis'] = np.sqrt((data['lat'] - 21.028458) ** 2 + (data['long'] - 105.841324) ** 2) * 1000
data['lat'] = (data['lat'] - 21.028458) * 1000
data['long'] = (data['long'] - 105.841324) * 1000
data['center_dis']

5        61.230938
6        53.174335
7        42.857197
10       55.668385
14       61.230938
           ...
16210    11.134452
16235    82.168167
16300    24.786261
16315    66.814102
16334    59.141430
Name: center_dis, Length: 6122, dtype: float32

In [168]:
data.head()

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long,center_dis
5,09/10/2020,Tây-Nam,36.0,Tin Vip 1,1.0,1.0,Đông-Bắc,Vinhomes West Point,1550.0,Dự án Vinhomes West Point,Nam Từ Liêm,-8.659363,-60.615540,61.230938
6,03/10/2020,Tây-Bắc,153.0,Tin Vip 1,2.0,4.0,Đông-Nam,Khu đô thị Nam Thăng Long - Ciputra,3800.0,Phường Phú Thượng,Tây Hồ,43.678284,-30.326843,53.174335
7,03/10/2020,Nam,103.0,Tin Vip 1,2.0,3.0,Tây-Bắc,Times City,4100.0,Phường Vĩnh Tuy,Hai Bà Trưng,-33.666611,26.519775,42.857197
10,03/10/2020,Nam,85.0,Tin Vip 1,2.0,2.0,Nam,Mipec Rubik 360,3315.0,Phường Dịch Vọng Hậu,Cầu Giấy,8.695602,-54.985046,55.668385
14,09/10/2020,Đông-Nam,65.0,Tin Vip 3,2.0,2.0,Tây-Bắc,Vinhomes West Point,3050.0,Phường Mỹ Đình 1,Nam Từ Liêm,-8.659363,-60.615540,61.230938

In [169]:
data['direction'].value_counts()

Tây-Bắc     1578
Đông-Nam    1230
Tây-Nam      963
Đông-Bắc     924
Bắc          486
Nam          468
Tây          252
Đông         221
Name: direction, dtype: int64

In [170]:
data['types'].value_counts()

Tin thường          5869
Tin Vip 3            164
Tin Vip 1             44
Tin Vip 2             34
Tin Vip đặc biệt      11
Name: types, dtype: int64

In [171]:
data['balcony_direction'].value_counts()

Đông-Nam    2011
Tây-Bắc     1065
Đông-Bắc     981
Tây-Nam      828
Nam          487
Bắc          421
Đông         201
Tây          128
Name: balcony_direction, dtype: int64

In [172]:
data['project'].value_counts()

Goldmark City                      226
Times City                         159
Vinhomes Times City - Park Hill    147
Khu đô thị mới Xa La               145
An Bình City                       127
                                  ...
Le Capitole                          1
The Artemis                          1
Hanhud Hoàng Quốc Việt               1
Hà Nội Aqua Central                  1
Star City Lê Văn Lương               1
Name: project, Length: 455, dtype: int64

In [173]:
data['ward'].value_counts()

Phường Thanh Xuân Trung              342
Phường Vĩnh Tuy                     341
Phường Cổ Nhuế 1                     244
Phường Hoàng Liệt                    239
Phường Nhân Chính                    234
                                    ...
Dự án Nam Đô Complex                   1
Dự án Vimeco II - Nguyễn Chánh         1
Dự án B7 - B10 Kim Liên                1
Dự án CT1 Trung Văn - Vinaconex 3      1
Yên Sở                                 1
Name: ward, Length: 275, dtype: int64

In [174]:
data['district'].value_counts()

Hà Đông         911
Thanh Xuân      817
Bắc Từ Liêm     798
Hoàng Mai       670
Nam Từ Liêm     621
Cầu Giấy        486
Tây Hồ          442
Hai Bà Trưng    422
Long Biên       370
Thanh Trì       172
Gia Lâm         130
Hoài Đức         79
Ba Đình          66
Đống Đa          63
Đông Anh         45
Chương Mỹ        16
Đan Phượng       12
Thạch Thất        2
Name: district, dtype: int64

In [175]:
data[data['price'] == data['price'].max()]

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long,center_dis
906,09/10/2020,Đông-Nam,69.0,Tin thường,2.0,2.0,Tây-Bắc,Bea Sky,220000000.0,Dự án Bea Sky,Hoàng Mai,-54.489136,-19.630432,57.917355

In [176]:
data[data['square'] > 300]

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long,center_dis
6212,07/10/2020,Đông-Nam,345.000000,Tin thường,5.0,5.0,Tây-Nam,D’. Le Roi Soleil - Quảng An,33000.000000,Dự án D’. Le Roi Soleil - Quảng An,Tây Hồ,36.441803,-14.274597,39.137821
6869,07/10/2020,Đông-Nam,323.600006,Tin thường,6.0,5.0,Tây-Bắc,Vinhomes Riverside,7740.000000,Phường Việt Hưng,Long Biên,17.637253,74.218750,76.285622
8666,06/10/2020,Tây-Bắc,700.000000,Tin thường,6.0,6.0,Đông-Bắc,Keangnam Hanoi Landmark Tower,48000.000000,Phường Mễ Trì,Nam Từ Liêm,-11.608124,-57.350159,58.513153
9153,06/10/2020,Đông-Nam,306.000000,Tin thường,4.0,5.0,Tây-Bắc,TSG Lotus Sài Đồng,8109.000000,Phường Việt Hưng,Long Biên,12.517929,72.341919,73.416969
10514,05/10/2020,Tây-Bắc,307.000000,Tin thường,5.0,4.0,Đông-Nam,Grandeur Palace,20000.000000,Phường Kim Mã,Ba Đình,1.039505,-14.259338,14.297178
11643,05/10/2020,Bắc,375.600006,Tin thường,4.0,6.0,Bắc,Ecolife Tây Hồ,12582.600586,Phường Xuân La,Tây Hồ,22.653580,-40.733337,46.608898
12790,03/10/2020,Tây-Bắc,915.000000,Tin thường,2.0,2.0,Đông-Nam,Stellar Garden,2800.000000,Phường Nhân Chính,Thanh Xuân,-28.038025,-37.887573,47.133842
13026,03/10/2020,Tây,301.399994,Tin thường,3.0,4.0,Đông,Sunshine City,22725.560547,Phường Đông Ngạc,Bắc Từ Liêm,63.459396,-56.320190,84.847275

In [177]:
data.groupby('bedroom').mean()

             square    toilet          price        lat       long  center_dis
bedroom
1.0       47.599957  1.036199    1620.109131 -22.750854  -8.775323   71.261803
2.0       73.153046  1.872240  136414.390625 -23.232405 -29.899099   67.468750
3.0      107.282532  2.060016    7056.367676 -11.001249 -33.845554   60.075970
4.0      158.733276  2.840000    5586.764160  -5.561157 -41.115234   61.092686
5.0      242.177780  4.111111    9374.666992  -4.440519 -18.094381   66.126633
6.0      537.799988  5.000000   30291.300781   5.522728 -49.041748   52.561028
8.0       98.000000  2.000000    2620.000000 -48.746109   3.509521   48.872280
12.0      88.239998  2.000000    3000.000000 -32.159805 -35.690308   48.042183
13.0     107.500000  2.000000    2800.000000  63.459396 -56.320190   84.847275
180.0    100.000000  2.000000    4950.000000  52.549362 -23.231506   57.455532

In [178]:
data.drop(index = 12790, inplace = True)

In [179]:
data.loc[3840, 'bedroom'] = 2
data.loc[15432, 'bedroom'] = 3
data.loc[15940, 'bedroom'] = 3
data.loc[16034, 'bedroom'] = 3
data[data['bedroom'] > 6]

Empty DataFrame
Columns: [time, direction, square, types, toilet, bedroom, balcony_direction, project, price, ward, district, lat, long, center_dis]
Index: []

In [180]:
data.loc[13944, 'toilet'] = 2
data[data['toilet'] > 5]

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long,center_dis
6869,07/10/2020,Đông-Nam,323.600006,Tin thường,6.0,5.0,Tây-Bắc,Vinhomes Riverside,7740.0,Phường Việt Hưng,Long Biên,17.637253,74.218750,76.285622
8666,06/10/2020,Tây-Bắc,700.000000,Tin thường,6.0,6.0,Đông-Bắc,Keangnam Hanoi Landmark Tower,48000.0,Phường Mễ Trì,Nam Từ Liêm,-11.608124,-57.350159,58.513153

In [189]:
data['types'].value_counts()

Tin thường          5868
Tin Vip 3            164
Tin Vip 1             44
Tin Vip 2             34
Tin Vip đặc biệt      11
Name: types, dtype: int64

In [181]:
train_columns = ['direction', 'square', 'toilet', 'bedroom' , 'balcony_direction', 'district', 'types']

In [190]:
types_replace = {"types" : {"Tin thường" : 0, "Tin Vip 1" : 1, "Tin Vip 2" : 2, "Tin Vip 3" : 3, "Tin Vip đặc biệt" : 4  }}

,direction,square,toilet,bedroom,balcony_direction,district,types
5,Tây-Nam,36.000000,1.0,1.0,Đông-Bắc,Nam Từ Liêm,Tin Vip 1
6,Tây-Bắc,153.000000,2.0,4.0,Đông-Nam,Tây Hồ,Tin Vip 1
7,Nam,103.000000,2.0,3.0,Tây-Bắc,Hai Bà Trưng,Tin Vip 1
10,Nam,85.000000,2.0,2.0,Nam,Cầu Giấy,Tin Vip 1
14,Đông-Nam,65.000000,2.0,2.0,Tây-Bắc,Nam Từ Liêm,Tin Vip 3
...,...,...,...,...,...,...,...
16210,Đông-Bắc,81.300003,2.0,3.0,Tây-Nam,Long Biên,Tin thường
16235,Tây-Bắc,62.000000,2.0,2.0,Đông-Nam,Hà Đông,Tin thường
16300,Đông-Bắc,116.699997,2.0,2.0,Đông-Nam,Tây Hồ,Tin thường
16315,Tây-Nam,90.500000,2.0,3.0,Đông-Bắc,Hoàng Mai,Tin thường
16334,Đông-Nam,60.400002,2.0,2.0,Tây-Bắc,Hoàng Mai,Tin thường

In [191]:
data.replace(types_replace, inplace = True)
data

,time,direction,square,types,toilet,bedroom,balcony_direction,project,price,ward,district,lat,long,center_dis
5,09/10/2020,Tây-Nam,36.000000,1,1.0,1.0,Đông-Bắc,Vinhomes West Point,1550.000000,Dự án Vinhomes West Point,Nam Từ Liêm,-8.659363,-60.615540,61.230938
6,03/10/2020,Tây-Bắc,153.000000,1,2.0,4.0,Đông-Nam,Khu đô thị Nam Thăng Long - Ciputra,3800.000000,Phường Phú Thượng,Tây Hồ,43.678284,-30.326843,53.174335
7,03/10/2020,Nam,103.000000,1,2.0,3.0,Tây-Bắc,Times City,4100.000000,Phường Vĩnh Tuy,Hai Bà Trưng,-33.666611,26.519775,42.857197
10,03/10/2020,Nam,85.000000,1,2.0,2.0,Nam,Mipec Rubik 360,3315.000000,Phường Dịch Vọng Hậu,Cầu Giấy,8.695602,-54.985046,55.668385
14,09/10/2020,Đông-Nam,65.000000,3,2.0,2.0,Tây-Bắc,Vinhomes West Point,3050.000000,Phường Mỹ Đình 1,Nam Từ Liêm,-8.659363,-60.615540,61.230938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16210,24/08/2020,Đông-Bắc,81.300003,0,2.0,3.0,Tây-Nam,Ruby City,1600.000000,Phường Giang Biên,Long Biên,0.490189,11.123657,11.134452
16235,29/06/2020,Tây-Bắc,62.000000,0,2.0,2.0,Đông-Nam,Khu đô thị mới Xa La,950.000000,Phường Phúc La,Hà Đông,-65.990448,-48.957825,82.168167
16300,25/09/2020,Đông-Bắc,116.699997,0,2.0,2.0,Đông-Nam,Golden Westlake,7935.599609,Phường Thụy Khuê,Tây Hồ,14.963150,-19.760132,24.786261
16315,15/04/2020,Tây-Nam,90.500000,0,2.0,3.0,Đông-Bắc,Rainbow Linh Đàm,2100.000000,Phường Hoàng Liệt,Hoàng Mai,-64.573288,-17.158508,66.814102
16334,17/04/2020,Đông-Nam,60.400002,0,2.0,2.0,Tây-Bắc,Khu đô thị Kim Văn - Kim Lũ (Golden Silk),1020.000000,Phường Đại Kim,Hoàng Mai,-55.166245,-21.316528,59.141430

In [192]:
df1 = data[train_columns].copy()
y = data['price'].copy()
y.isnull().sum()

0

In [193]:
df1.head()

   direction  square  toilet  bedroom balcony_direction      district  types
5    Tây-Nam    36.0     1.0      1.0          Đông-Bắc   Nam Từ Liêm      1
6    Tây-Bắc   153.0     2.0      4.0          Đông-Nam        Tây Hồ      1
7        Nam   103.0     2.0      3.0           Tây-Bắc  Hai Bà Trưng      1
10       Nam    85.0     2.0      2.0               Nam      Cầu Giấy      1
14  Đông-Nam    65.0     2.0      2.0           Tây-Bắc   Nam Từ Liêm      3

In [195]:
df1 = pd.get_dummies(df1)
df1

,square,toilet,bedroom,types,direction_Bắc,direction_Nam,direction_Tây,direction_Tây-Bắc,direction_Tây-Nam,direction_Đông,...,district_Hà Đông,district_Long Biên,district_Nam Từ Liêm,district_Thanh Trì,district_Thanh Xuân,district_Thạch Thất,district_Tây Hồ,district_Đan Phượng,district_Đông Anh,district_Đống Đa
5,36.000000,1.0,1.0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
6,153.000000,2.0,4.0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
7,103.000000,2.0,3.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,85.000000,2.0,2.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,65.000000,2.0,2.0,3,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16210,81.300003,2.0,3.0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16235,62.000000,2.0,2.0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
16300,116.699997,2.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16315,90.500000,2.0,3.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16334,60.400002,2.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [196]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (df1, y, test_size=0.25, random_state=42)

In [197]:
y_train.isnull().sum()

0

In [198]:
X_train.head()

,square,toilet,bedroom,types,direction_Bắc,direction_Nam,direction_Tây,direction_Tây-Bắc,direction_Tây-Nam,direction_Đông,...,district_Hà Đông,district_Long Biên,district_Nam Từ Liêm,district_Thanh Trì,district_Thanh Xuân,district_Thạch Thất,district_Tây Hồ,district_Đan Phượng,district_Đông Anh,district_Đống Đa
15394,103.000000,2.0,3.0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10937,103.000000,2.0,3.0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13904,82.400002,2.0,2.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
10495,78.000000,2.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11127,112.000000,2.0,3.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [254]:
from sklearn.preprocessing import StandardScaler
scalerX = StandardScaler().fit(X_train)
X_train = scalerX.transform(X_train)
X_test = scalerX.transform(X_test)

In [255]:
y_train = np.log(y_train)
y_test  = np.log(y_test)

In [263]:
from sklearn.model_selection import GridSearchCV
parameters = {'n_neighbors': [2,3,4,5,6,7,8,9]}
model = GridSearchCV(KNeighborsRegressor(), parameters)
model.fit(X_train, y_train)

C:\Users\huy doan\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                           metric='minkowski',
                                           metric_params=None, n_jobs=None,
                                           n_neighbors=5, p=2,
                                           weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'n_neighbors': [2, 3, 4, 5, 6, 7, 8, 9]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [264]:
model.best_params_

{'n_neighbors': 6}

In [265]:
y_predict = model.best_estimator_.predict(X_test)

In [270]:
y_predict = np.exp(y_predict)

In [271]:
y_test = np.exp(y_test)

In [272]:
y_predict[:30]

array([2743.2764, 1677.5359, 3375.9324, 1805.0421, 2326.9443, 3224.0417,
       1835.215 , 1613.462 , 3541.9304, 3296.861 , 5710.5366, 3173.9185,
       2712.7065, 2332.0496, 2870.425 , 3763.389 , 3616.9868, 3232.1199,
       1856.4521, 2338.1335, 4233.326 , 1789.7009, 2698.9744, 1144.6638,
       2159.3792, 3366.2876, 3249.7344, 3200.954 , 3125.507 , 1494.7266],
      dtype=float32)

In [289]:
res = y_test.to_frame()
res.reset_index(inplace = True)

In [290]:
res['pred'] = pd.DataFrame(y_predict)

In [292]:
res.iloc[:50]

    index        price         pred
0    5810  3789.998535  2743.276367
1   10081  1550.000000  1677.535889
2    5111  4356.000977  3375.932373
3   11775  1749.999878  1805.042114
4    7005  2500.000244  2326.944336
5    6167  3040.999023  3224.041748
6    2882  1998.000366  1835.214966
7   10061  1600.000122  1613.462036
8   13628  3950.001465  3541.930420
9   12886  3349.999268  3296.861084
10   2054  8700.000000  5710.536621
11   6598  3700.000732  3173.918457
12   1812  2544.100098  2712.706543
13   7743  1600.000122  2332.049561
14   4564  3000.000244  2870.425049
15    558  2149.999756  3763.388916
16   7782  3500.001465  3616.986816
17  15282  3649.999268  3232.119873
18   7536  2600.000488  1856.452148
19   3740  2900.000000  2338.133545
20   2382  3999.998535  4233.326172
21   6314  1585.439697  1789.700928
22  12837  2099.999756  2698.974365
23  14181  1500.000122  1144.663818
24  15271  1950.000488  2159.379150
25   7110  3500.001465  3366.287598
26   4563  3199.998779  3249.734375
27  10052  4124.500977  3200.954102
28    962  3799.998291  3125.507080
29   8443  2099.999756  1494.726562
30  15384  2900.000000  3051.305908
31   5992  3300.000488  3464.497559
32   3142  2149.999756  2171.787354
33  12500  1179.000122  1150.729126
34  15468  3361.228760  3392.401855
35  10727  3600.000488  3906.191162
36  12249  2600.000488  1692.676514
37   3812  1049.999878  1314.165771
38    894  2262.000244  3797.618164
39  15808  1600.000122  1921.420654
40  15771   829.999878  1053.548218
41  10408  1600.000122  1754.825562
42  12476  1219.999878  1150.728516
43   6435  1160.000000  1415.200317
44   3414  3500.001465  3128.760742
45  12668  2267.999756  3530.713623
46   3487  1600.000122  2013.592163
47  11936  3600.000488  4399.771973
48   3908  4070.998535  3716.998047
49  14138  3380.001221  3063.607910

In [251]:
import math
def rmsle(y_valid, y_preds):
    if len(y_preds)!=len(y_valid): return 'error_mismatch'
    y_preds_new = [math.log(x) for x in y_preds]
    y_valid_new = [math.log(x) for x in y_valid]
    return mean_squared_error(y_valid_new, y_preds_new)

In [296]:
np.sqrt(mean_squared_error(y_test, y_predict))

1240.46